@import "../node_modules/@a-ui/core/src/styles/_quarks.scss";
@import "../node_modules/@a-ui/core/src/styles/_utilities.scss";

.o-agenda-wrapper {
	position: relative;

	width: 100%;
	height: calc(100vh - 48px);
}


/**
 * AGENDA VARIABLES
 * -------------------------------------------------------------------
 */

$agenda-border:                  $border-color-light !default;
$agenda-bg:                      $white !default;
$agenda-bg-hover:                mix($brand-primary, $white, 20%) !default;

$agenda-head-color:              $white !default;
$agenda-head-border:             $agenda-border !default;
$agenda-head-bg:                 $brand-primary !default;

$agenda-today-color:             $brand-primary !default;
$agenda-today-bg:                mix($agenda-today-color, $white, 20%) !default;
$agenda-today-border:            $agenda-today-color !default;
$agenda-today-font-weight:       $extra-bold !default;

$agenda-selected-color:          $white !default;
$agenda-selected-bg:             $agenda-today-color !default;
$agenda-selected-font-weight:    $agenda-today-font-weight !default;

$agenda-faded-color:             $grey-dark !default;
$agenda-faded-bg:                $background-color-light !default;
$agenda-faded-bg-hover:          $background-color !default;

$agenda-unavailable-color:       $state-disabled !default;
$agenda-unavailable-bg:          $agenda-bg !default;


/**
 * AGENDA
 * -------------------------------------------------------------------
 */

.o-agenda {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.o-agenda__inner {
	display: flex;
	flex-direction: column;

	height: 100%;
}


/**
 * AGENDA HEADER
 * -------------------------------------------------------------------
 */

.o-agenda__header {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	height: $spacer-lg;

	margin-bottom: $spacer-xs;
}


/**
 * AGENDA NAVIGATION
 * -------------------------------------------------------------------
 */

.o-agenda__nav {
	display: flex;

	.a-button:not(:last-child) {

		@include at($screen-sm) {
			border-right: 1px solid mix($btn-primary-bg, $black, 85%);
		}
	}
}

.o-agenda__nav-previous.a-button,
.o-agenda__nav-next.a-button {

	@include to($screen-sm) {
		display: none;
	}
}

/**
 * AGENDA TABLE
 * -------------------------------------------------------------------
 */

.o-agenda__table {
	display: flex;
	flex: 1 1 0%;
	flex-direction: column;

	width: 100%;
}


/**
 * AGENDA TABLE HEAD
 * -------------------------------------------------------------------
 */

.o-agenda__table-head {
	display: flex;

	height: $spacer-lg;

	color: $agenda-head-color;
	background-color: $agenda-head-bg;
}

.o-agenda__table-head-cell {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1 0%;

	font-weight: $bold;
}


/**
 * AGENDA TABLE GRID
 * -------------------------------------------------------------------
 */

.o-agenda__table-grid {
	display: flex;
	flex: 1 1 0%;
	flex-direction: column;

	background-color: $agenda-bg;

	border: 1px solid $agenda-border;
}

.o-agenda__table-row {
	position: relative;
	display: flex;

	flex: 1 1 0%;

	+ .o-agenda__table-row {
		border-top: 1px solid $agenda-border;
	}

	.a-event {

		@include to($screen-sm) {
			display: none;
		}

		@include at($screen-sm) {
			position: absolute;
		}
	}
}

.o-agenda__table-row-cell {
	position: relative;

	display: flex;
	flex: 1 1 0%;

	cursor: pointer;
	user-select: none;

	transition: background $animation-normal;

	@include to($screen-sm) {
		align-items: center;
		justify-content: center;
	}

	+ .o-agenda__table-row-cell {
		border-left: 1px solid $agenda-border;
	}

	&:hover,
	&:active {

		@include to($screen-sm) {
			background-color: $agenda-bg-hover;
		}
	}

	&.is-current {
		font-weight: $agenda-today-font-weight;

		color: $agenda-today-color;
		background-color: $agenda-today-bg;

		&:hover,
		&:active {

			@include to($screen-sm) {
				background-color: $agenda-today-bg;
			}
		}
	}

	&.is-selected {
		font-weight: $agenda-selected-font-weight;

		color: $agenda-selected-color;
		background-color: $agenda-selected-bg;

		&:hover,
		&:active {

			@include to($screen-sm) {
				background-color: $agenda-selected-bg;
			}
		}
	}

	&.is-faded {
		color: $agenda-faded-color;
		background-color: $agenda-faded-bg;

		&:hover,
		&:active {

			@include to($screen-sm) {
				background-color: $agenda-faded-bg-hover;
			}
		}
	}

	&.is-unavailable {
		color: $state-disabled;
		background-color: $agenda-unavailable-bg;

		cursor: not-allowed;

		&:hover,
		&:active {

			@include to($screen-sm) {
				background-color: $agenda-unavailable-bg;
			}
		}
	}
}

.o-agenda__table-row-cell-header {

	@include at($screen-sm) {
		width: 100%;

		height: $spacer;

		padding-left: $spacer / 4;

		line-height: $spacer;
		font-weight: $bold;
	}
}


/**
 * AGENDA DOTS
 * -------------------------------------------------------------------
 */

.o-agenda__dots {
	position: absolute;
	bottom: rem(6px);
	left: 50%;

	display: flex;

	transform: translateX(-50%);

	@include at($screen-xs) {
		bottom: rem(10px);
	}

	@include at($screen-sm) {
		display: none;
	}
}

.o-agenda__dot {
	display: block;

	width: rem(4px);
	height: rem(4px);

	background-color: $brand-secondary;

	&:not(:last-child) {
		margin-right: rem(5px);
	}
}


/**
 * EVENT
 * -------------------------------------------------------------------
 */

.a-event {
	display: flex;

	width: 100%;
	height: $spacer;

	margin: 0;
	padding: 0;

	background: $white;
	border: none;
	border-radius: 0;

	cursor: pointer;
}

.a-event__bar {
	flex-shrink: 0;

	display: block;

	width: $spacer / 6;
	height: $spacer;
}

.a-event__content {
	overflow: hidden;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;

	height: $spacer;

	padding: 0 $spacer / 3;

	font-size: rem($font-size-sm);
}

.a-event__main,
.a-event__extra {
	display: flex;
	align-items: center;

	height: 100%;

	> * {
		line-height: $spacer;
	}
}

.a-event__main {
	overflow: hidden;
}

.a-event__extra {
	margin-left: $spacer / 2;

	white-space: nowrap;
}

.a-event__title + .a-event__icon,
.a-event__icon + .a-event__title,
.a-event__meta + .a-event__icon,
.a-event__icon + .a-event__meta {
	margin-left: $spacer / 3;
}

.a-event__icon {
	font-size: rem($icon-size-sm);
}

.a-event__title {
	@extend %u-text-truncate;

	display: block;

	font-weight: $bold;
}

.a-event__meta {
	color: $text-color-light;
}


/**
 * EVENT MODIFIERS
 * -------------------------------------------------------------------
 */

.a-event__large {
	height: $spacer-md;

	.a-event__bar,
	.a-event__content {
		height: $spacer-md;
	}

	.a-event__main,
	.a-event__extra {

		> * {
			line-height: $spacer-md;
		}
	}
}

.a-event__light {
	color: $white;
}
