<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<link rel="stylesheet" href="https://cdn.antwerpen.be/core_branding_scss/2.2.0/main.min.css" />
	<link rel="stylesheet" href="../css/styles.css" />

	<title>Teamkalender Slicing</title>

	<meta name="description" content="Agenda Slicing" />
	<meta name="robots" content="noodp, noydir" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="format-detection" content="telephone=no" />

</head>
<body style="padding: 24px;">

	<h4>Teamkalender</h4>

</body>
</html>
